{% load static %}
<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>{{title}}</title>
<link rel="stylesheet" type="text/css" href="{% static 'common/css/bootstrap.min.css' %}" />
</head>
<body>
<h1>{{title}}</h1>
<div class="container">
  {% if success_message == None %}
  <div class="row">
    <div class="col">
      <div role="alert" class="alert alert-warning">以下のレコードを削除します</div>
    </div>
  </div>
  {% else %}
  <div class="row">
    <div class="col">
      <div role="alert" class="alert alert-info">{{ success_message }}</div>
    </div>
  </div>
  {% endif %}
  {% if form != None %}
  <div class="row">
    <div class="col">
      <table class="table table-bordered table-hover table-striped">
        <form action="{% url 'hello_delete' entity_id %}" method="post">
          {% csrf_token %}
          <tr>
            <th>ID</th>
            <td>{{form.id}}</td>
          </tr>
          <tr>
            <th>名前</th>
            <td>{{form.name}}</td>
          </tr>
          <tr>
            <th>性別</th>
            <td>
            {% if form.gender == False %}male{% endif %}
            {% if form.gender == True %}female{% endif %}
            </td>
          </tr>
          <tr>
            <th>E-Mail</th>
            <td>{{form.mail}}</td>
          </tr>
          <tr>
            <th>年齢</th>
            <td>{{form.age}}</td>
          </tr>
          <tr>
            <th>誕生日</th>
            <td>{{form.birthday}}</td>
          </tr>
          <tr>
            <td colspan="2">
              <input class="btn btn-primary" type="submit" value="削除">
              <input class="btn btn-secondary" type="button" value="戻る" onclick="history.back();">
            </td>
          </tr>
        </form>
      </table><!-- /.table table-bordered table-hover table-striped -->
    </div><!-- /.col -->
  </div><!-- /.row -->
  {% endif %}
  <div class="row">
    <div class="col">
      <a href="{% url 'hello_index' %}">一覧画面</a>
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container -->
</body>
</html>